body {
	background: #f5f5f5;
}

.todo-container {
	width: 600px;
	margin: 50px auto;
	background: white;
	box-shadow: 0 0 10px #ccc;
}

.todo-container h1 {
	text-align: center;
	font-size: 80px;
	font-weight: 100;
	color: #e9d9d9;
}

.todo-input {
	width: 100%;
	border: none;
	padding: 20px;
	font-size: 25px;
	outline: none;
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.todo-item,
.empty {
	padding: 20px;
	border-top: 1px solid #ddd;
	font-size: 24px;
	display: flex;
	justify-content: space-between;
}

.delete {
	display: none;
	color: #cc0000;
	cursor: pointer;
}

.todo-item:hover .delete {
	display: block;
}

.counter {
	padding: 15px;
	color: gray;
	border-top: 1px solid #ddd;
}
